header img, header nav {
  display: inline-block;
  vertical-align: middle;
}

nav img {
  width: 200px;
  height: 70px;
  margin: 10px;
  vertical-align: middle;
  background-color: black;
}

header nav li {
  display: inline;
  margin: 35px;
}

header nav div {
  text-align: center;
}

header nav li a {
  vertical-align: middle;
  font-size: 1.00em;
  text-decoration: none;
  color: white;
}

nav, footer {
  background-color: rgb(61, 56, 56);
  padding: 10px;

  color: white;
  width: 100%;
}